.one{
    text-align: center;
    color: red;
}
.two{
    width: 80%;
    margin-left: 10%;
}
.three{
    width: 80%;
}
.twelve{
    background-color: green;
}
.four{
    width: 80%;
    margin-left: 13%;
}
.five{
    width: 80%;
    margin-left: 12.5%;
}
.six{
    width: 80%;
    margin-left: 10%;
}

.seven{
    width: 80%;
margin-left: 12%;
}
.eight{
    width: 80%;
    margin-left: 13.5%;
}
.nine{
    width: 80%;
    margin-left: 11%;

}.ten{
    width: 80%;
    margin-left: 13%;
}
.eleven{
    width: 80%;
    margin-left: 11%;
}
.fourteen{
    margin-left: 13%;
}

    